.bottom-container{
    background: linear-gradient(180deg, #6abeca 0%, rgba(58, 98, 104, 0.57) 100%),
    url(../resources/images/sunny-weather.jpeg) center no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
}